	.designOverlay {
	    position: absolute; left: 0px; top: 0px;
	    width: 100%; height: 101%;
	    text-align: center; opacity: 0.3;
	}
	.designOverlay a {
	    position: fixed;
	    z-index: 6000;
	    width: 40px; height: 40px;
	}
	.designOverlay img {
	    position: relative;
	    z-index: 5000;
	}
	.overlay-off {
	    left: 55px; top: 15px;
	    background: rgba(113,19,19,0.5);
	}
	.overlay-on {
	    left: 15px; top: 15px;
	    background: rgba(19,112,20,0.5);
	}